appdirs==1.4.3
contextlib2==0.5.5
docopt==0.6.2
extras==1.0.0
fixtures==3.0.0
freeze==1.0.10
linecache2==1.0.0
mock==2.0.0
packaging==16.8
pbr==3.0.0
py==1.4.33
pyfiglet==0.7.5
pyparsing==2.2.0
pytest==3.0.7
python-mimeparse==1.6.0
six==1.10.0
termcolor==1.1.0
testresources==2.0.1
testscenarios==0.5.0
testtools==2.2.0
traceback2==1.4.0
unittest2==1.1.0
virtualenv==15.1.0
appdirs==1.4.3
contextlib2==0.5.5
docopt==0.6.2
extras==1.0.0
fixtures==3.0.0
freeze==1.0.10
funcsigs==1.0.2
linecache2==1.0.0
mock==2.0.0
packaging==16.8
pbr==3.0.0
py==1.4.33
pyfiglet==0.7.5
pyparsing==2.2.0
pytest==3.0.7
python-mimeparse==1.6.0
six==1.10.0
termcolor==1.1.0
testresources==2.0.1
testscenarios==0.5.0
testtools==2.2.0
traceback2==1.4.0
unittest2==1.1.0
virtualenv==15.1.0
